{{render "header"}}

<div id='main-outlet' {{bind-attr class=backgroundClass}}>
  {{outlet}}
  {{render "poster-expansion"}}
</div>

{{render "kb_footer"}}

{{render "modal"}}
{{render "topic-entrance"}}
{{render "composer"}}
